$main: #615cff;
$dark: darken($main, 20%);
$light: lighten($main, 20%);
$white: #fff;
$complement: #a8ffce;
$danger: #ff675c;
$warning: #ffbb5c;
$success: #5cff69;
$background-color: lighten($main, 25%);

$padding: 30px;
$margin: 30px;